<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" routerLink="/home">Películas</a>    
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">       
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <input  #textoBuscar class="form-control mr-sm-2" 
               (keyup.enter)= "buscarPeliculas(textoBuscar.value)"
               type="search" 
               placeholder="Buscar Películas" 
               aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" 
                (click) ="buscarPeliculas(textoBuscar.value)"
                type="button">
                Buscar
        </button>
      </div>
    </div>
  </nav>
